## .NET / Visual Studio

bin/
obj/
*.user
*.suo
.vs/
*.userosscache
*.sln.docstates

# Rider / VS Code
.idea/
*.DotSettings.user

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# OS files
.DS_Store
Thumbs.db